/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --task-text-color: #9E78CF;
  --task-done-text-color: #78CFB0;
  --border-radius: 10px;
}

* {
  transition: 0.2s;
}

body {
  background-color: #0D0714;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}

h4 {
  font-weight: 300;
}

#app {
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  background-color: #1D1825;
  padding: 40px 50px ;
  border-radius: 20px;
}

.app-body {
  width: 432px
}

.new-task-form {
  display: flex;
  column-gap: 10px;
  margin-bottom: 60px;
}

.new-task-input {
  padding-inline: 15px;
  height: 40px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  color: var(--task-text-color);
  border: var(--task-text-color) 1px solid;
  border-radius: var(--border-radius);
  box-shadow: none;
  outline: none;
  flex-grow: 1;
}

.new-task-input:focus {
  border: #3E1671 2px solid;
}

.new-task-button {
  position: relative;
  background-color: #9E78CF;
  border: none;
  height: 40px;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.new-task-button:hover, .new-task-input:hover{
  opacity: 0.7;
}

.new-task-button span {
  left: 8px;
  position: absolute;
  display: block;
  height: 2px;
  background-color: white;
  width: 24px;
}

.new-task-button span:last-child {
  transform: rotate(90deg);
}

.task-list-wrapper {
  margin-bottom: 60px;
}

.task-list-title {
  margin-bottom: 18px;
}

.task-list-item {
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #15101C;
  color: var(--task-text-color);
}
.task-list-item:not(:last-child) {
  margin-bottom: 16px;
}
.task-actions {
  display: flex;
}

.task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  border: none;
  height: 30px;
  aspect-ratio: 1;
}

.task-button svg {
  pointer-events: none;
}

.task-button svg * {
  fill: var(--task-text-color);
}

.task-button:hover svg * {
  fill: #3E1671;
}

.task-button:not(:last-child) {
  margin-right: 8px;
}

.done-task-text {
  color: var(--task-done-text-color);
  text-decoration: line-through;
}
